[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
jsons = "*"
pdf2image = "*"
pillow = "*"
requests = "*"
tarjan = "*"
tqdm = "*"

[requires]
python_version = "3.7"
